{% extends "jinjapartals/base.jinja2" %}
{% block title %}JavaScript Tasks{% endblock %}
{% block content %}
<h3>IT1 Tasks</h3>
<p style='width: 40%'>
I'm hosting IT1 tasks on this custom homemade web page.
Currently there is only one JavaScript task, but more will be comeing soon!
</p>
{% endblock %}