{% extends "jinjapartals/base.jinja2" %}
{% block title %}JavaScript Task 1{% endblock %}
{% block addhead %}
<style>
#answer {

}
</style>
{% endblock addhead %}
{% block content %}
<h3>Calculator</h3>
<input id='n1' type="number"><br/>
<input id='n2' type="number"><br/>
<input onclick='calculate()' type="button"><br/>
<h3 id='answer'></p>
<script id='task'>
function calculate() {
    let n1 = $('#n1')[0].valueAsNumber
    let n2 = $('#n2')[0].valueAsNumber
    $('#answer').text('Answer: '+(n1+n2))
}
</script>
<br/>
<h3>JavaScript</h3>
<div id='js'>
    <p id="script"></p>
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function() {
    let js = $('#task').text()
    $('#script').text(js)
})
</script>
{% endblock %}