{% extends "jinjapartals/base.jinja2" %}
{% block title %}JavaScript Tasks{% endblock %}
{% block content %}
<h3>JavaScript Tasks for IT1</h3>
<p>
    <a href='/it1/js/1'>Task 1: Calculator</a>
</p>
{% endblock %}